.App {
  background-image: url("file:///C:/Users/Vishesh%20Velip/OneDrive/Desktop/internship/assignment-two/src/components/images/WallpaperDog-17150192.webp");

}
body{
  background-image: url("file:///C:/Users/Vishesh%20Velip/OneDrive/Desktop/internship/assignment-two/src/components/images/WallpaperDog-17150192.webp");

}
.home-page{
  width:100vw;
  height:100vh;
  
 
}

